.modalOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenseModal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 640px;
  width: 90%;
  max-height: 500px; /* Increased max-height */
  position: relative;
  box-sizing: border-box;
}

.modalTitle {
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34.47px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.modalButtons {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.addExpenseButton {
  background-color: #F4BB4A;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 21.79px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 51px;
  width: 223px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.cancelButton {
  cursor: pointer;
  background-color: #E3E3E3;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 51px;
  border: none;
  width: 112px;
  border-radius: 15px;
}

.addExpenseButton:hover, .cancelButton:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .modalInputs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .expenseModal {
    max-width: 90%;
    padding: 16px;
    max-height: none;
  }

  .modalTitle {
    font-size: 24px;
    line-height: 30px;
  }

  .addExpenseButton, .cancelButton {
    font-size: 14px;
    height: 42px;
  }

  .addExpenseButton {
    width: 100%;
  }

  .cancelButton {
    width: 100%;
  }
}
