.transactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0rem;
}

.transactionType {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 38px;
    width: 38px;
}

.transactiontext p{
    margin: 2px;
    width: 100%;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.date {
    color: #9B9B9B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.transactionAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons  button{
    border: none;
    height: 37px;
    width: 37px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttons {
    display: flex;
    gap: 10px;
}

.remove {
    background-color: #FF3E3E;
    color: white;
    border-radius: 100%;
}

.edit {
    background-color: #F4BB4A;
    border-radius: 100%;
}