.chart {
    width: 14.9375rem;
    height: 14.9375rem;
    position: relative;
}

.chartContent {
    position: absolute;
    top: -4.6875rem;
    right: -2.5rem;
    width: 14.9375rem;
    height: 14.9375rem;
}

.noChart {
    font-size: 1.875rem;
    color: white;
    text-align: center;
    font-weight: 700;
}

