.chart {
    width: 239px;
    height: 239px;
   position: relative;
}

.chartContent {
    position: absolute;
    top: -75px;
    right: -40px;
    width: 239px;
    height: 239px;
}

.noChart {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 700;
}